[2014-01-15 05:44] slogsdon opened #1 "add typespecs"
See: https://github.com/elixir-lang/elixir/blob/53b68887b68b6ac93fac237e62c212fe3f4ed0c0/lib/elixir/lib/kernel/typespec.ex

[2014-01-15 05:45] slogsdon opened #2 "build gh:pages site"

[2014-01-15 05:45] slogsdon opened #3 "elaborate README.md"

[2014-01-15 05:45] slogsdon opened #4 "add LICENSE"

[2014-01-16 02:49] slogsdon opened #5 "extend router"

[2014-01-16 04:05] #4 closed, assigned to nobody

[2014-01-26 19:16] guilleiguaran opened #6 "Support Plug"
https://github.com/elixir-lang/plug

[2014-01-31 02:59] #6 closed, assigned to nobody

[2014-02-05 18:44] #5 closed, assigned to nobody

[2014-02-06 02:02] slogsdon opened #7 "Integrate Plug"
From the README:

Integrating Plug into the project will allow for standardization in the future. There is also an added benefit of an expanded development team with the external dependency.

[2014-02-06 02:03] slogsdon opened #8 "Routing"
- [x] Basic routing (`get`, `post`, `put`, `patch`, `delete`, `options`)
- [x] Ensure guards are passed to `Plug.Router`

[2014-02-06 02:05] slogsdon opened #9 "Allow for basic HTTP responses"
At bare minimum, text/html should be able to be returned from controller actions

[2014-02-06 02:06] slogsdon opened #10 "Mimetype inference"
Proper mimetypes should be set on responses.

[2014-02-06 02:07] #7 closed, assigned to slogsdon

[2014-02-06 02:14] slogsdon opened #11 "Session adapters"
Session adapters should follow a defined interface to allow for new adapters to be added/used easily. Adapters for this issue:
- [ ] Cookie
- [ ] ETS

[2014-02-06 02:18] slogsdon opened #12 "Resource routing"
Allow for RESTful resource routes. Example:

[code]

is shorthand for:

[code]

[2014-02-06 02:21] slogsdon opened #13 "Return helpers"
Helpers for creating proper return tuples for Plug.
- [ ] JSON
- [ ] Raw
- [x] Default 404

[2014-02-06 02:23] slogsdon opened #14 "Userland Configuration"
Configuration for setting ports, SSL, adapters, etc.

[2014-02-06 02:24] slogsdon opened #15 "Templating"
Make creating responses pretty
- [ ] EEx
- [x] [ErlyDTL](https://github.com/erlydtl/erlydtl)
- [x] HAML

[2014-02-06 02:24] slogsdon opened #16 "Development error page"
Display formatted error and stacktrace in browser for development.

[2014-02-06 02:52] slogsdon opened #17 "[RFC] Caching Layer"
- [ ] Application Data
- [ ] Compiled HTML
- [ ] Adapters
  - [ ] ets
  - [ ] redis
  - [ ] memcached

[2014-02-07 05:00] #9 closed, assigned to slogsdon

[2014-02-07 16:39] #14 closed, assigned to slogsdon

[2014-02-07 21:03] #8 closed, assigned to slogsdon

[2014-02-08 04:19] #3 closed, assigned to slogsdon

[2014-02-08 04:48] #13 closed, assigned to slogsdon

[2014-02-08 06:09] #12 closed, assigned to slogsdon

[2014-02-08 19:46] #2 closed, assigned to nobody

[2014-02-09 20:35] slogsdon opened #23 "Template finder / compiler"
Should find matching files, create a `Template[]` record for each with filename, engine, etc, and compile all valid templates.

[2014-02-10 00:01] optikfluffel opened #24 "Demo Application"
A Demo Application that implements the stuff mentioned in the [README.md](https://github.com/sugar-framework/sugar/blob/master/README.md) would be really helpful for elixir n00bs like me to play around with it. If I could for example just do a `git clone`, install the dependencies and fire up the server I bet I can get pretty existed and want to learn some more Elixir to play with it! :stuck_out_t

[2014-02-10 03:03] slogsdon opened #25 "Implement Mix.Config for defaults and testing"
Allow router to be configurable. an attempt was made on develop, but it no worky

[2014-02-10 03:03] slogsdon opened #26 "an attempt was made on sugar@develop, but it no worky"

[2014-02-10 03:03] #26 closed, assigned to nobody

[2014-02-11 03:07] #24 closed, assigned to nobody

[2014-02-12 04:43] #23 closed, assigned to slogsdon

[2014-02-12 15:42] #15 closed, assigned to slogsdon

[2014-02-12 15:44] #10 closed, assigned to slogsdon

[2014-05-13 15:29] #11 closed, assigned to slogsdon

[2014-05-13 15:30] slogsdon opened #31 "Update Documentation"
It's a wee bit out of date

[2014-05-13 15:32] slogsdon opened #32 "Improve unit test coverage"
Right now, we're sitting at a pretty horrible 5.4%. :thumbsdown:

[2014-05-14 19:08] #32 closed, assigned to nobody

[2014-05-23 16:42] rizafahmi opened #34 "How to properly render a template?"
How to properly render a template? I want to render index.html.eex  by using `render`. In the docs says `render conn, "showing index controller"`. I did that but not working. I did `render conn, "main/index"`, `render conn, "main/index.html"` and `render conn, "main/index.html.eex"` but all ended up error `File.Error: could not read file lib/views/main/index`. Am I missing something?

[2014-05-27 00:53] sschepens opened #35 "JSON parser Plug"
We should have a JSON parser Plug because Plug doesn't have one and sending content-type: application/json makes sugar reply a 500

[2014-05-27 01:44] sschepens opened #36 "Update Ecto dependency"
Ecto 0.1.0 has deprecation errors on elixir 0.13.3, updating to 0.2.0 does the job

[2014-05-27 01:50] sschepens opened #37 "Make Plug dependencies consistent"
Plugs have a requirement of Plug 0.4.3 and Sugar has Plug ~> 0.4.3.
This slight inconsistency makes elixir 0.13.3 throw this error:
Unchecked dependencies for environment dev:
- plug (package)
  the dependency plug defined

  does not match the requirement specified

  Ensure they match or specify one of the above in your Watcher.Mixfile deps and set `override: true`
  *\* (Mix) Can't continue due

[2014-05-27 01:52] sschepens opened #38 "Get request body?"
Is there any way to get the body of a request?

[2014-05-27 01:53] sschepens opened #39 "Response code for json helper"
It would be great to make a json/3 helper which receives a status code to send along with the body, instead of just forcing 200

Edit: juse watched the code, it accepts a status option, but it think it would be more consistent and clean to let it just be:
json conn, 400, body
or conn |> json 400, body

[2014-05-28 14:27] slogsdon opened #41 "Allow content type to be set and to overwrite if preset in helpers"

[2014-05-28 17:17] #37 closed, assigned to nobody

[2014-06-03 13:39] koctya opened #43 "Can't start server, dependency error."
I'm on Elixir (0.13.3) looking for a web framework, since Dynamo seems to be dead.
I tried cloning Sugar and starting the server, and I get a dependency error right off, not sure which lib/decimal its complaining about as there isn't one in Sugar,
Any Ideas?

== Compilation error on file lib/decimal.ex ==
*\* (CompileError) lib/decimal.ex:92: undefined function record_type/1
    (elixir) src/elixi

[2014-07-05 09:01] conradwt opened #44 "Missing documentation page for models"
The following page is missing:

http://sugar-framework.github.io/docs/models/

[2014-09-30 05:26] dmuso opened #46 "Dependency postgrex 0.5.5 conflicts with Elixir 1.0.0"
Working through the Getting Started tl;dr steps:

[code]

Output:

[code]

Adding `{ :postgrex, "~> 0.6.0" }` to the `mix.exs` deps section gets a clean get/compile cycle. To run `mix sugar.init` however, it required me to also update `deps/sugar/mix.exs` with the upgraded postgrex version.

I have no idea if this workaround can be plugged straight in as I've only recently started learning Elixir

[2014-09-30 13:26] #46 closed, assigned to nobody

[2014-12-09 05:45] vjustov opened #48 "Error when compilling dependencies."
[code]

The current excoveralls version in the mixfile is 0.2.0 which uses Elixir 0.13. Lets bump the version to ~> 0.3. This just happens when using Hex to install sugar.

[2014-12-10 07:37] #48 closed, assigned to nobody

[2014-12-17 04:02] #35 closed, assigned to nobody

[2014-12-17 04:02] #39 closed, assigned to nobody

[2014-12-17 04:03] #43 closed, assigned to nobody

[2014-12-17 04:04] #38 closed, assigned to nobody

[2014-12-17 04:04] #36 closed, assigned to nobody

[2014-12-17 06:19] slogsdon opened #51 "[RFC] Soft real-time items"
Need something like this to keep up with newer frameworks and web application development trends. The technologies below all allow the client to receive unsolicited updates from the server, while WebSockets allow the client to also send data back to the server on the same connection.
### Technologies involved
- [Server-sent Events](https://developer.mozilla.org/en-US/docs/Server-sent_events/Using_

[2014-12-17 06:22] slogsdon opened #52 "[Poll] Real-time stuff or caching?"
Which should go first, #17 or #51? Any preferences?

At this point, I'm leaning towards real-time stuff because it's a little more straight-forward with less in the air regarding implementation, but I could be swayed either way.

[2014-12-18 18:54] sclearion opened #53 "Cannot compile with newest source"
Have a fresh install of elixir but getting this error on compile:
the dependency excoveralls requires Elixir "~> 0.13.1" but you are running on v1.0.2

how can I work around this or should I just wait for a fix

[2014-12-18 20:47] #53 closed, assigned to nobody

[2014-12-19 03:24] #44 closed, assigned to nobody

[2014-12-20 19:04] #34 closed, assigned to nobody

[2014-12-22 04:18] slogsdon opened #54 "Update Plug to latest"
Will require a few changes to the router. Look to [Placid's router](https://github.com/slogsdon/placid/blob/master/lib/placid/router.ex) for guidance.

[2014-12-22 04:19] slogsdon opened #55 "Replace JSEX with Poison"
Most people will probably use Poison in their projects, so it will be an easy way to reduce the total number of dependencies for them.

[2014-12-22 05:09] #25 closed, assigned to nobody

[2014-12-24 17:00] #54 closed, assigned to nobody

[2014-12-25 19:55] #16 closed, assigned to slogsdon

[2014-12-25 19:55] #55 closed, assigned to nobody

[2014-12-29 10:56] NARKOZ opened #57 "testing controllers"
How can I write tests for controllers and test requests?

[2014-12-29 23:16] slogsdon opened #58 "Update Simple Example"
[sugar-framework/simple-example](https://github.com/sugar-framework/simple-example).

Might want to create a new kitchen sink example as well.

Be sure to include tests to help support new documentation and #57.

[2014-12-30 01:54] #1 closed, assigned to nobody

[2015-01-01 11:38] NARKOZ commented on #57
@slogsdon Thank you. I'm getting this error after update:

[code]

can't start mix server.

Also how to set custom error pages (404 and 500) and how should I serve static assets?

[2015-01-01 11:52] NARKOZ commented on #57
Templates don't auto update, you need to stop and start server to see changes.

[2015-01-02 03:01] slogsdon commented on #57
@NARKOZ The `FunctionClauseError` you're receiving is from your application not being configured for HTTPS. Take a look at the [simple example app](https://github.com/sugar-framework/simple-example/tree/master/config) for the proper way to accomplish that.

For capturing 500 errors, check out [`Plug.ErrorHandler`](http://hexdocs.pm/plug/Plug.ErrorHandler.html). The code for that should be placed i

[2015-01-02 15:45] NARKOZ commented on #57
@slogsdon Thank you. After config update I'm getting this error:

[code]

if I change the [line](https://github.com/sugar-framework/sugar/blob/de7c2882eb22257b5f60162f73928ce07e23a3c7/lib/sugar/router.ex#L123) to

`adapter.http __MODULE__, [], opts[:http]` it works.

My config:

[code]

I don't use SSL.

[2015-01-12 03:56] zabirauf opened #61 "Error on mix server"
I am following the [getting started](http://sugar-framework.github.io/getting-started/) guide. When i run `mix server` i get the following error

    ** (FunctionClauseError) no function clause matching in Keyword.put_new/3
    (elixir) lib/keyword.ex:320: Keyword.put_new(nil, :ref, Router.HTTP)
    lib/plug/adapters/cowboy.ex:35: Plug.Adapters.Cowboy.args/4
    lib/plug/adapters/cowboy.ex:120: Pl

[2015-01-13 03:10] slogsdon commented on #61
Hey @zabirauf, I think I know what the issue is, but I have a couple of questions:

- Did you pull down Sugar as a Hex or git dependency?
- To verify, you used `mix sugar.init` to scaffold your project, correct?

In the meantime, make sure you have something like this in your `config/config.exs` file:

[code]

[2015-01-13 03:36] slogsdon commented on #61
PS, https://sugar-framwork.github.io/ is currently out of sync with the latest code. :frowning: For the most part, I try to keep `@doc` comments up to date with code changes, so when in doubt, check those at http://hexdocs.pm/sugar/.

[2015-01-27 00:52] YellowApple commented on #61
Am also able to reproduce with OSX Yosemite and Elixir 1.0.2 (after following the official docs to-the-letter - including using `mix sugar.init` to scaffold the project - and making some corrections to `config.exs` per your first comment).  Occurs regardless of whether Sugar is a Hex or git dependency.

On a whim, I decided to change my own app's `lib/my_app/router.ex` to reflect a module name of

[2015-01-27 00:56] YellowApple commented on #61
Long story short: this issue can be worked around by explicitly setting `:https` to `false`, like so (in `config/config.exs`):

    use Mix.Config

    config :sugar,
      router: Router

    config :sugar, Router,
      https_only: false,
      http: [port: 4000],
      https: false

[2015-01-27 01:08] slogsdon commented on #61
@YellowApple Thanks for running through all of this! It definitely needs some tweaking with how HTTP/HTTPS listeners are ran, along with some additional tests for those and the `server` Mix task.

To explain about the `:placid` bit, I have another project ([Placid](https://github.com/slogsdon/placid)) that started with the router from Sugar. I made a bunch of improvements to the router in Placid,

[2015-01-27 01:25] YellowApple commented on #61
No problem, @slogsdon; I'm just glad my code works now ;)  A documentation update would probably be useful for future folks pulling out their hair over Cowboy whining about HTTPS.

Good to know about Placid; I was looking for a good way to adapt Sugar to route API requests, and it looks like Placid is well-optimized for that while still having plenty of Sugary goodness.  I would definitely abstrac

[2015-01-27 03:34] slogsdon commented on #61
I think I will be extracting that code into a separate library. I just diff'd them, and the differences should be able to be wrapped in configurations, merged, or removed just nicely. I just need to be sure that functionality remains the same and that the resulting module can be extended easily.

[2015-02-26 20:58] YellowApple opened #65 "`mix server` errors out with `(UndefinedFunctionError) undefined function: Foo.Router.run/0` as of 0.4.4"
Full error:

    DixonCider:my_website rnorthrup$ mix server
    Compiled lib/yellowapple_site.ex
    Compiled lib/yellowapple_site/controllers/main.ex
    Compiled lib/yellowapple_site/router.ex
    Generated yellowapple_site.app
    ** (UndefinedFunctionError) undefined function: YellowappleSite.Router.run/0
        (yellowapple_site) YellowappleSite.Router.run()
        lib/mix/tasks/server.ex:

[2015-02-26 21:24] YellowApple commented on #65
Content of `lib/yellowapple_site/router.ex`, for reference (doesn't deviate a whole lot from the defaults):

    defmodule YellowappleSite.Router do
	    use Sugar.Router
	    plug Sugar.Plugs.HotCodeReload

	    if Sugar.Config.get(:sugar, :show_debugger, false) do
		    plug Plug.Debugger, otp_app: :your_project
	    end

	    plug Plug.Static, at: "/static", from: :yellowapple_site

	    get "/

[2015-02-27 01:58] slogsdon commented on #65
@YellowApple I'd have to say that the switch to HttpRouter is the cause, but I'm not sure yet why. The `run` function should be available thanks to the [definition in the `__before_compile__/1` macro](https://github.com/sugar-framework/sugar/blob/master/lib/sugar/router.ex#L17). I'll dig around and try to figure out what's up.

[2015-02-27 23:11] YellowApple commented on #65
That's what I figure, too; the `run` function definition in that macro didn't change at all during the switch to HttpRouter (at least according to the commit diffs), so it *should* work at least as well as it did before (at least at that point).

For what it's worth, the dirty hack of copying `run`'s definition into `lib/yellowapple_site/router.ex` makes everything work correctly, even with HttpRo

[2015-02-27 23:35] YellowApple commented on #65
Aaaaand ficks'd.

Turns out we just needed to actually *use* that macro definition in the `__using__` macro; shoving `@before_compile Sugar.Router` after the `use HttpRouter, ...` clause fixed everything (at least in my simple hello-world-style app).

[2015-02-27 23:35] #65 closed

[2015-02-28 00:17] slogsdon commented on #65
Nice job! I was driving to work and remembered that the `@before_compile` line wasn't there anymore, so I'm glad you figured it out as well. :thumbsup:

[2015-03-26 19:16] slogsdon opened #67 "Fix response content-type in json/2"

[2015-03-26 19:17] slogsdon opened #68 "Figure out why run function isn't added at compile time to routers"
should help with #61

[2015-03-27 18:03] YellowApple commented on #68
Isn't this already fixed?  At least in a test app I've been tinkering with, it seems to be:

[code]

[2015-03-27 18:05] slogsdon commented on #68
I have as well, and I think it's just a push to Hex that needs to happen.

[2015-03-27 22:30] slogsdon commented on #68
Yep, I never pushed a new version after the PR. It's fixed now with 0.4.5.

[2015-03-27 22:30] #68 closed

[2015-03-27 22:31] slogsdon commented on #61
Consider this closes as of #66

[2015-03-27 22:31] #61 closed

[2015-03-29 18:14] slogsdon opened #69 "Figure out incompatibility with Plug.ErrorHandler"
Also affects `Plug.Debugger`

[2015-03-31 14:07] slogsdon commented on #69
Seems there is an issue with using `defoverridable` twice for a function without defining the function between them.

In [`HttpRouter`](https://github.com/slogsdon/elixir-http-router/blob/master/lib/http_router.ex), there is something similar to:

[code]

And in [`Plug.ErrorHandler`](https://github.com/elixir-lang/plug/blob/master/lib/plug/error_handler.ex) and [`Plug.Debugger`](https://github.com

[2015-04-12 08:33] rubencaro commented on #52
#51 no doubt.

[2015-04-13 21:18] YellowApple commented on #52
Definitely #51 (now that this has been brought to my own attention).  WebSocket support in particular is becoming increasingly handy, and it's already supported by Cowboy and (I'm pretty sure) Plug; we just need to leverage those features (perhaps by referring to their implementations in, say, Pheonix or Weber and making them more... Sugary).

[2015-04-14 22:55] slogsdon commented on #52
@YellowApple. definitely agree about referencing Phoenix and Weber when implementing it for Sugar. An older version of Phoenix is what I had in mind when I originally made the high level plan above.

Websockets are definitely supported by Cowboy ( I've used it in production before ), but from what I've seen, plug doesn't have support quite yet since they want to ensure consistency across all possi

[2015-04-15 02:16] Horx opened #72 "compile error when set `show_debugger` to `true` in config.ex"
Hi, when I set the `show_debugger` option to `true` in config.ex, then restart the server, It always raise exception like this:
[code]

and the version of `Sugar` in my app is `0.4.6`.
Did I do something wrong ?

[2015-04-15 13:13] slogsdon commented on #72
hey there. sorry that you ran into this, but good news! I already have a fix and just need to push the proper commits, which I should be able to do today.

[2015-04-15 14:01] slogsdon commented on #72
I should add that if you're looking for a more technical explanation of what's causing the issue, take a look at #69. The fix I have includes the change to `HttpRouter` and the router generator (the expression `plug Plug.Debugger` should be `use Plug.Debugger`).

[2015-04-15 18:08] YellowApple commented on #72
Moving from `plug Plug.Debugger` to `use Plug.Debugger` will definitely require #69 to be addressed.  Can confirm that ripping out `HttpRouter`'s `defoverridable ...` does fix the issues that crop up with that (thus revealing sexy purple Railsy error pages instead of ugly compilation errors :) ).

[2015-04-16 13:51] slogsdon commented on #69
Fixed as of 449bed1b01d967020cf33529f52f414bbd7ce2d7

[2015-04-16 13:51] #69 closed

[2015-04-16 13:54] slogsdon commented on #72
Hey @Horx, I just pushed the remaining fixes to correct this issue. Make sure your deps are up to date with their respective Hex versions (`sugar` should be at 0.4.7 and `http_router` should be at 0.0.5) and that the `plug Plug.Debugger` is updated to `use Plug.Debugger` in your router.

Let me know if you're still running into issues.

[2015-04-16 13:54] #72 closed

[2015-04-16 13:54] slogsdon commented on #67
Should be fixed as of 449bed1b01d967020cf33529f52f414bbd7ce2d7.

[2015-04-16 13:54] #67 closed

[2015-04-16 13:55] slogsdon commented on #58
Fixed as of 43efab8d12488349b8eb00897e46eff806fb4156

[2015-04-16 13:55] #58 closed

[2015-04-17 01:19] Horx commented on #72
@slogsdon Yes, U have do it as you said, The error doesn't appear any more.

But question, The `Debugger` does not show any log in console after I restarted my app,  I‘m not familiar with `Debugger`, should I add some options to the `Debugger` or something else ?

[2015-04-17 20:04] YellowApple commented on #72
@Horx Debugger is less of a console thing and more of an error page thing.  `Plug.Debugger` is basically Elixir/Plug's equivalent to the fancy error pages that Ruby on Rails (for example) will show you in a development environment, like so:

![screen shot 2015-04-17 at 12 56 36](https://cloud.githubusercontent.com/assets/2379422/7209877/91a1de1c-e501-11e4-9a16-89124082cd1c.png)

In the above-scree

[2015-04-18 03:49] Horx commented on #72
@slogsdon
@YellowApple
 I got it . Thanks for your patience.

[2015-04-18 04:17] slogsdon commented on #72
@Horx Great to hear! let us know if you run into any other issues.

[2015-04-24 03:08] chasm commented on #31
When I follow the documentation, I can get the templates rendering, but all attempts at json get this error:

[code]

which, as far as I can tell, tells me nothing. Is this a documentation issue? Here is my controller:

[code]

Index and show work fine. Get_JSON, not so much. Ideas?

Here's the config:

[code]

[2015-04-24 03:18] slogsdon commented on #31
@chasm It looks like the Poison encoder is what is throwing the error. By default, Poison doesn't include a definition for tuples in its `Poison.Encoder` protocol, and since Keyword lists are lists of tuple pairs, Poison doesn't know what to do.

An easy fix for this should be to change your Keyword list to a Map. A more involved fix would be to implement the protocol for two-element tuples.

I'm

[2015-04-24 03:33] chasm commented on #31
That worked. Changed docs to reflect it and sent a pull request on the doc repo.

Thanks!

[2015-04-24 03:35] slogsdon commented on #31
Great! Let us know if you run into any other issues or if you have any suggestions.

[2015-04-24 03:56] chasm commented on #31
Happy to!

[2015-04-26 09:37] mishavetl opened #73 "Update Docs on Website"
Hello,

Documentation on the website is really outdated and not full.
I can try to update it

Thanks!

[2015-04-26 11:11] slogsdon commented on #73
Hi @mishavetl, and thanks for the feedback! Could you specify what is out of date? We had recently went through our documentation to update recently changed parts, so we're hoping there wasn't anything we missed.

Anyways, we'd gladly accept any PR's if you want to help out, and if you have any questions along the way, just let us know!

[2015-04-26 13:14] mishavetl commented on #73
There is no docs on args in routes

[2015-04-26 18:51] slogsdon commented on #73
Ah, gotcha. I'm not sure how that got missed. Maybe because of Sugar using the same underlying routing as `Plug.Router`. Essentially, you have two options for arguments in routes:

- simple parameter: prefixed with `:` and will capture a single segment. Example - `/message/:username`:
    - doesn't match `/message`
    - matches `/message/jim_bob`
    - doesn't match `/message/jim_bob/from`
- glob

[2015-04-26 19:53] slogsdon commented on #51
I had some thoughts today about what the end result of an implementation could look like for a developer wanting to use WebSockets in Sugar.

### Router

In the router, it should be fairly simple and should remain consistent with the other available macros.

[code]

Routes should be able to be sent to standard controllers, allowing a developer to blend functionality as he/she sees fit.

### Contro

[2015-04-26 19:54] slogsdon commented on #52
For those that expressed interest in WebSocket support, care to give thoughts? https://github.com/sugar-framework/sugar/issues/51#issuecomment-96428453

[2015-04-26 20:37] rubencaro commented on #51
I think the 'handle' functions should be at the same level than the regular actions inside the controller. Actually in that scenario the 'socket' macro in the controller is not needed (and the first rule of macros is...).

Pattern matching can be used to determine the right 'handle' function for a given 'socket' route.

Something like 'def handle(: notifications, "notify", socket, data)'.

That wo

[2015-04-26 21:36] slogsdon commented on #51
Thanks for the feedback, @rubencaro! I definitely agree that macros should only be used when necessary, and in this case, I'm thinking there will be some work needed at compile time. For things like `Sugar.Events.broadcast/3`, handler names will most likely need to be registered so those functions will know what will actually do the handling.

There's always a good possibility that things can be s

[2015-04-27 01:01] YellowApple commented on #51
I'd personally lean toward keeping as much socket-specific stuff in the router (and outside the controller) as possible; it seems more appropriate (and more natural and more intuitive and less confusing) as a routing concern in general (including whatever compile-time stuff is necessary), reserving the controller(s) for performing actions upon sockets without needing to worry nearly as much about

[2015-04-27 04:30] YellowApple commented on #51
Putting a little more thought into my own suggestion, I think something like

[code]

would probably also be sufficiently terse without sacrificing clarity if it's documented that the router will direct to the specified controller's `handle/3` by default (the above recommendation could still work if different events on the same socket should be handled by different controllers).

Of course, if mor

[2015-04-27 04:45] rubencaro commented on #51
+1 for all that!

[2015-04-27 13:36] slogsdon commented on #51
:thumbsup: I'm going to start poking around, probably within the week, to see what's possible. I'm hoping we can do most of this without being limited too much by getting Cowboy/Plug to play nicely when it comes to WebSockets.

[2015-04-29 02:37] slogsdon commented on #51
Started in on this tonight and got a demo going with Plug and a WebSocket handler. Documenting here:

---

Cowboy WebSocket handler:

[code]

Standard Plug:

[code]

Application callback:

[code]

---

Biggest point to note there is the use of `build_dispatch/2`. By default, the Cowboy adapter for Plug will use only `{:_, Plug.Adapters.Cowboy.Handler, {plug, opts}}` in the dispatch table passed to

[2015-05-01 04:11] slogsdon commented on #51
For anyone interested in the development, you can follow along here: https://github.com/slogsdon/plug-web-socket

[2015-05-02 01:00] slogsdon commented on #51
Alright, I have a good, extremely simple base ready for review: https://github.com/slogsdon/plug-web-socket. If things go well, I'll start on the Event layer or the `socket/4` macro.

Tear this up as much as possible. I won't feel bad. Thanks!

/cc @YellowApple @rubencaro

### Walkthrough

[`WebSocket.Cowboy.Handler`](https://github.com/slogsdon/plug-web-socket/blob/master/lib/web_socket/cowboy/ha

[2015-05-02 20:50] slogsdon commented on #51
I went ahead with a basic Events layer: [`WebSocket.Events`](https://github.com/slogsdon/plug-web-socket/blob/master/lib/web_socket/events.ex). Public API looks like this:

[code]

[2015-05-03 03:33] slogsdon commented on #51
Ok, last update. Worked on the macro, but it's not all that it can hopefully be.

[code]

I want to be able to define `run/1` function during `__before_compile__/1`, but the `plug.init(opts)` bit creates trouble because since the module is still being compiled, the compiler complains about the `init/1` function not existing. The nicest (only only working) work around I've found so far is to do the

[2015-05-05 02:10] slogsdon opened #74 "Allow maps to be passed to render helper"

[2015-05-07 13:16] slogsdon opened #75 "Ensure full compatibility with exrm"
I believe there is currently an issue with the use of `Mix.Project.config` which exrm cannot use.

[2015-06-17 17:51] YellowApple opened #77 "Plug.Builder.compile/1 and Plug.Builder.compile/2 deprecation in Sugar controllers"
On first run of an iex session involving a minimal Sugar app (router, one controller, minimal mix.exs and config.exs):

[code]

It looks like Plug.Builder.compile/3 expects an `env` to be the first argument, followed by the pipeline as the second and a list of objects as the third.  Creating a bug report to track this and remind myself to get around to doing the necessary refactoring in Sugar.Cont

[2015-06-17 18:11] slogsdon commented on #77
Thanks for filling this issue! I've been meaning to update this. I should have done it back when I pushed that commit but didn't really notice it. :frowning:

Good news is that it should be a straightforward fix. I'll try to get to this soon if you haven't already.

[2015-09-22 20:42] Annwenn opened #79 "Compilation error at `mix server`"
I'm running Sugar 0.4.8

[code]
And yes, the error looks very weird.

[2015-09-23 13:09] slogsdon commented on #79
Thanks for the report!

That library has caused more problems than it's worth. It may be time to re-write it :frowning:

[2015-10-20 17:12] Annwenn commented on #77
I have tried to use Sugar recently and apparently this is still a problem…

[2015-10-21 00:30] slogsdon commented on #77
@Annwenn Sorry about that! I must have forgotten to push the changes that I did for this a while ago. It should be fixed as of `v0.4.9`. Let me know if you have any issues with that

[2015-10-23 14:37] Annwenn commented on #79
0.4.9 fixed the issue :)

[2015-10-23 14:42] slogsdon commented on #79
oh yay! unintended side effect for the win!

[2015-10-23 15:33] Annwenn commented on #79
oh well apparently it's back again :D

[2015-10-23 19:29] slogsdon commented on #79
:(

[2015-10-24 10:45] Annwenn opened #81 "Stacktrace with Plug.Conn.InvalidHeaderKeyFormatError"
After a malformed POST request (not expected by the Router):
[code]

[2015-11-07 22:44] Annwenn commented on #81
I still see this error from time to time, especially on [Queerlink](https://github.com/Queertoo/Queerlink).

[2015-11-26 14:17] Annwenn opened #83 "Including JavaScript and CSS"
I couldn't find any information about where to put your CSS/JS. is it in `/priv/static/` ? `/priv/main/` ? Somewhere else?

[2015-11-26 14:17] Annwenn commented on #77
`v0.4.9` seems to have fixed it.

[2015-11-26 14:17] #77 closed

[2015-11-26 14:18] Annwenn commented on #73
@mishavetl May I have your opinion about the current state of the documentation? :)

[2015-11-26 14:33] slogsdon commented on #83
I think [`Plug.Static`](http://hexdocs.pm/plug/Plug.Static.html) is what you want. :) It defaults to `priv/static`, but you can change that if you like.

[2015-11-26 15:29] Annwenn commented on #83
Thanks :)

[2015-11-28 09:49] mishavetl commented on #73
I think it is much better.

[2015-11-28 09:49] #73 closed

[2015-12-15 11:07] YellowApple commented on #83
I don't think that `at:` is right.  It should be the route used to access the resource, not where it's being stored.  So (assuming `:exon` is the name of your app) you should try `plug Plug.Static, at: "/", from: :exon` (which seems to work on my end (aside from some unrelated bug with `Plug.HotCodeReload` using non-lowercase response headers and Plug being a jerk about it) without any further con

[2015-12-15 16:43] Annwenn commented on #83
okay, thanks :)

[2015-12-15 18:31] #83 closed

[2015-12-16 01:28] YellowApple commented on #81
Should be fixed now as of the latest version of HotCodeReload.

[2015-12-16 01:28] #81 closed

[2016-02-23 10:42] CharlesOkwuagwu commented on #83
Please it would be helpful if you can share a full working example properly setup to use common stuff like bootstrap and jQuery, possibly with a few pages and navigation too.

Thanks.

[2016-02-23 16:33] YellowApple commented on #83
AFAIK, JS/CSS should work exactly the same way as it would in plain HTML, the difference being that your JS/CSS files are stored in your app's `priv/static` (and accessible through the `/static` route if you use the recommended `Plug.Static` configuration).  This would include Bootstrap and jQuery.

I'll see about whipping up a more complete example (or perhaps just reupdating the "simple" example

[2016-02-23 16:48] CharlesOkwuagwu commented on #83
@YellowApple Thanks. I was able to get static js/css/images working...

i'm battling with file uploads now :(

would really be helpful to see a guide/example with alot more everyday use-cases for Sugar-Framework

Thanks.

[2016-02-23 16:57] YellowApple commented on #83
Agreed, and thanks for the feedback.  The docs for [`Plug.Upload`](http://hexdocs.pm/plug/Plug.Upload.html) might be of interest to you there until one of us gets around to writing more complete documentation on some of these more "real-world" topics.

[2016-02-23 17:05] YellowApple commented on #83
On another note, it looks like your file upload route (where the upload form is pointing) is a GET in your router (when it should be a POST).  That might also be an issue.

[2016-02-23 17:10] CharlesOkwuagwu commented on #83
I had trued both, I get the same error, that Plug is not started for the upload... I guess the request does not get as far as the get/post for the :file_upload function

[2016-02-23 17:20] YellowApple commented on #83
I'll take a closer look when I get back to a proper workstation, but can you submit that as a new bug?  I think I know what the issue is.

[2016-02-23 17:35] CharlesOkwuagwu commented on #83
I made this change to my template file

From:
[code]
To:

[code]
I got rid of `enctype="multipart/form-data"`, and i'm now able to get this in my `file_upload `function

[code]

[code]

Not sure how to proceed from there.

[2016-02-23 18:05] YellowApple commented on #83
The issue is still that the `:plug` application is not running (as stated in the original error).  Try adding `:sugar` to your applications in your `mix.exs`, like so:

[code]

This will automatically spin up the relevant Plug processes (as well as some other included OTP apps, like Ecto and Postgrex).

Note to self: document this.

[2016-02-23 20:07] CharlesOkwuagwu commented on #83
OK will try

[2016-02-23 20:12] CharlesOkwuagwu commented on #83
I added `:sugar` to applications ... that only made it angrier :(

[code]

[2016-02-23 20:41] CharlesOkwuagwu commented on #83
Ok, this works now, thanks.

But it instead of writing this `"image[file_name] was saved"` back to my browser, it puts the text in a file named `upload `and downloads it.

[2016-02-24 16:08] YellowApple commented on #83
Hm.  Again, do you mind opening up a separate issue for this?

[2016-02-24 16:12] CharlesOkwuagwu commented on #83
sure will do now

[2016-02-24 16:15] CharlesOkwuagwu opened #85 "How to do file upload with Sugar-Framework?"
Please can you provide a guide on how to do file upload with sugar-framework.

Also, a sample with other common / everyday use-cases would be appreciated.

Thanks.

[2016-02-24 21:10] YellowApple commented on #85
I was able to get this to work as expected with a few tweaks from [your original gist](https://gist.github.com/CharlesOkwuagwu/543b637b9881f94531ff).

In `mix.exs`:

[code]

In `config/config.exs` (pretty typical):

[code]

In `lib/sugar_test/router.ex`:

[code]

In `lib/sugar_test/controllers/main.ex`:

[code]

In `lib/sugar_test/views/main/index.html.eex`:

[code]

In `lib/sugar_test/views/main/

[2016-02-25 04:34] CharlesOkwuagwu commented on #85
Thanks.

[2016-02-25 04:46] CharlesOkwuagwu opened #86 "Warning on using Sugar on more recent versions of Elixir"
Hi, we get a few warnings when compiling Sugar on more recent versions of Elixir.
I believe these can be avoided as the warnings suggest some simple solutions:

[code]

[2016-02-25 05:13] YellowApple commented on #85
No problem.  Closing for now (since this is now addressed).

[2016-02-25 05:13] #85 closed

[2016-02-25 05:28] YellowApple commented on #86
Are you using the "simple" app template (https://github.com/sugar-framework/simple-example)?  If so, it's worth mentioning that said template hasn't been updated in almost a year (note to self: fix that).  Notably, you'll want to update Sugar from 0.4.6 to 0.4.10 (in your `mix.exs`).

More to the point: do the warnings persist if you create a fresh Sugar project (following the [getting started](ht

[2016-02-25 08:20] CharlesOkwuagwu commented on #86
No. Simple is just a name I choose for my project:

`D:\Elixir>mix new simple`

[2016-02-25 08:28] CharlesOkwuagwu commented on #86
It all works fine now, but this comes up each time you refresh the index page: `localhost:4000`

`D:\Elixir\simple>iex --werl -S mix server`

[code]

[2016-02-25 16:33] YellowApple commented on #86
That usually happens on a refresh or page load immediately following a source code change.  Not sure about a root cause yet beyond `Sugar.Plugs.HotCodeReload`.  You can comment out line 2 of your router if it bugs you (at the expense of your app requiring a restart whenever you want a change to take effect), but the error shouldn't actually affect anything.

Closing this issue since the original p

[2016-02-25 16:33] #86 closed

[2016-02-25 16:43] CharlesOkwuagwu commented on #86
@YellowApple Erm, the [linked](https://github.com/sugar-framework/plugs/issues/2) above issue is totally unrelated to this problem.

Please recheck the "new" issue you opened related to this.

Thanks

[2016-02-25 16:49] YellowApple commented on #86
Whoops.  Meant sugar-framework/plugs#5.  Sorry about that.  Must've had some dyslexic moment there...

[2016-02-25 16:50] CharlesOkwuagwu commented on #86
LOL, no worries. cheers.

[2016-04-07 21:07] ror6ax opened #87 "name of the project?"
I've created a project by `mix new stuff`

Following the documentation, added the app to mix.exs:
[code]
Unexpectedly:

[code]
Any hints?
Also, I'll be looking into calling a separate function asynchronously from controller.
Any hidden magic I should expect with regard to importing?

[2016-04-15 03:59] slogsdon commented on #87
Hi @ror6ax! Sorry for the delay.

Did you create your new application with the `--sup` flag when calling `mix new`? If unsure, does your `Stuff` module look similar to this?

[code]

The error message that you are seeing looks to be related to how the `{Stuff, []}` tuple is being interpreted during the loading of your application. Using the `--sup` flag during the call sets up all of this for you

[2016-04-24 12:12] ror6ax commented on #87
Thanks, this works!

[2016-04-24 12:12] #87 closed

[2016-04-27 09:23] YellowApple commented on #87
I've tweaked the docs a bit to reflect the need to use the `--sup` flag, since that wasn't in there previously.

[2017-01-19 09:58] djKooks opened #90 "State of sugar framework"
Hello. I'm on studying elixir, and interested in web frameworks. Though most of people are participating in phoenix, it looks like sugar also can be good option.
But it seems no updates has been going on over a year.
Could I ask that, is it still going-on project?

Thanks.

[2017-01-19 10:23] YellowApple commented on #90
As far as I know it is :)

Last update in this repo was 8 months ago (which is still quite a bit of time, but such is life).  There have also been more recent commits in other repos under this project.  Development is slow, but it's steady and indeed moving forward.

I've personally been working on some enhancements to / refactoring of the template system (which *has* gone more than a year without

[2017-01-19 10:35] djKooks commented on #90
@YellowApple Thanks for reply! I'll keep look forward on it.

[2017-01-24 17:53] philipgiuliani commented on #90
Sound good! :) Just found this project and wondered if I should use it… Will definitely try it out! :)

[2017-02-02 04:18] #90 closed

[2017-02-05 16:01] slogsdon commented on #57
@NARKOZ Apologies for the delay. The router was updated at some point to allow for HTTPS to be optional by setting the router config option for it to `false`. Example:

[code]

Closing this, but feel free to re-open.

[2017-02-05 16:01] #57 closed

[2017-02-12 08:50] kination opened #95 "Generate archive for support scaffolding command"
How do you think about making package for scaffold support? For example, phoenix are supporting phoenix_new command by installing their package for simple scaffold.
I just tested by installing archive file. It shows command like this.
[code]
I could see command update like above.
As you know I'm still new in sugar/elixir so I'm not sure this suggestion has been discussed before or not. Could you l

[2017-02-12 10:05] YellowApple commented on #95
It's a possibility.  I personally gravitated to Sugar instead of Phoenix precisely *because* (among other reasons) I didn't have to install some extra package first before I could generate a Sugar app.

Of course, back in those days Phoenix didn't have its current `mix archive.install $SOME_URL_ON_THE_WWW` installation method; instead, you had to clone Phoenix's GitHub repo, then build Phoenix and

[2017-02-12 11:45] kination commented on #95
@YellowApple Thanks for quick response! I could understand what you are meaning of.
Actually, the motive part that I become interest in sugar is it is minimal and light framework. I am thinking relation of phoenix and sugar as django and flask in python, so it is great to make this project more lighter.
Reason I thought about this is, I was thinking of way to make it more easy and accessible, and

[2017-02-13 00:36] slogsdon commented on #95
To add to what @YellowApple mentioned, I had initially created the `sugar.init` Mix task to reduce the complexity of getting started. Before Mix's archive's received some love, building and installing one meant creating a local copy of the archive's project and pushing the responsibility of building the archive on the developer wanting to use it. Leveraging a Mix task like `sugar.init` to scaffold

[2017-02-13 01:16] YellowApple commented on #95
If Phoenix's implementation is anything to go by, we'd need to host such an archive ourselves.  Hex ain't quite like, say, CPAN or RubyGems in the sense that we can install things globally through that mechanism (at least AFAICT).  Certainly something we should monitor in case they add similar functionality in the future, but until then, using GitHub releases seems to be the most viable approach.

[2017-02-13 01:18] YellowApple commented on #95
Apparently [there's some support in Mix for installing an archive from a Hex package](https://hexdocs.pm/mix/Mix.Tasks.Archive.Install.html#content).  If that does what I think it does, then we could distribute a `sugar_installer` application or somesuch on Hex and make it installable that way.

Else, using GitHub releases seems to be the most viable approach, and is in line with how Phoenix does

[2017-02-19 06:35] kination commented on #95
@slogsdon @YellowApple While I'm reviewing documents for starting and working on samples, it looks like it is enough for now to let in current state about this. Going with `sugar init` seems not quite bad.
Maybe we could think about it again while this project is going on, and I'll re-open again.

Thanks for conversation.

[2017-02-19 06:35] #95 closed, assigned to nobody

[2017-02-19 06:37] kination opened #96 "Static files location"
I'm currently working for make some web sample which is working with sugar + vue.js. While looking on, it cannot indicate the location of vue lib and my js file. I located my file inside of /priv/static/js(for js files) and /priv/static/tpl(for templates).
Is there something wrong in my work?

And this is just suggestion...
Currently our generated files by `sugar init` are showing just response in

[2017-02-22 02:13] YellowApple commented on #96
I take it you've already [perused the relevant documentation](https://sugar-framework.github.io/docs/views/) (under the "Static files" section)?

In particular, static files are by default going to be accessible from `http://localhost:4000/static/`.  This can be overridden in your router if you prefer a different path:

    defmodule MyApp.Router do
      # ...
      plug Plug.Static, at: "/some/o

[2017-02-22 04:02] kination commented on #96
@YellowApple Okay, there could be some mistake. I'll try it again.

[2017-06-10 05:50] #96 closed, assigned to nobody

[2018-09-24 23:37] jcoleman-techempower commented on #79
Any plans to keep this project maintained?

[2018-11-07 16:28] powder opened #97 "Getting started instructions appear out of date, results in compilation error."
[code]

Likely this indicates that the simple repo hasn't been touched in a long while.  Haven't dived into it further than following the instructions as listed and seeing it fail.

The following is my elixir/erlang version string if that's useful in understanding where this error is coming from.
[code]

[2018-11-07 23:24] YellowApple commented on #97
Yeah, the simple-example repo is almost certainly out of date.  I'll see about updating it.

That said, if you're following the instructions at http://sugar-framework.github.io/getting-started/, then that suggests Sugar itself is running into some kind of trouble there.  I'll look into that as well.

[2019-01-10 14:57] polynomialherder commented on #97
Just noting that I ran into this as well.

[2019-01-11 04:31] YellowApple commented on #97
Sorry for the delayed response here.

So I was able to get through the Getting Started instructions on the latest versions of Erlang and Elixir, with the caveat that I had to blow away the pregenerated EEx template (else `mix server` would fail with symptoms identical to #79 ).  I wasn't able to reproduce this JSON-related error specifically, weirdly enough, but it's clear that Sugar can use some

[2020-03-11 08:30] heinrich-fresh opened #99 "None issue"
Wrong thread...

[2020-03-11 08:30] #99 closed, assigned to nobody

[2020-07-18 17:21] SachsKaylee opened #100 "Non EEx views"
Hello there!

Sugar looks like a really interesting and simple to use framework.

## My current situation

I am interested in migrating a pure Plug project over to Sugar, but there is one big feature I'd need which I didn't see any documentation about and a quick glimpse in the source code looks like this isn't supported ATM:

Most endpoints in my application are **API endpoints** (since I use a f

[2020-11-13 06:15] YellowApple commented on #100
Howdy!  Sorry for the delayed response here.

I take it you've already looked into `json/2`?  It's designed for this exact use case of using Sugar for REST API backends (following code should work in theory, but my Elixir's a bit rusty at the moment :wink:):

[code]

`render/4` is really less about "views" and more specifically about "templates" - namely, about generating actual HTML from template

[2020-11-17 20:58] SachsKaylee commented on #100
Thanks for the response!

I ended up writing a small helper module that allows me to write pretty much the syntax posted in my initial post above. I didn't end up going with Sugar though since I noticed that with this feature in place I did not actually need a wrapper around plug.

I did look into json/2 - The feature I was missing (or maybe I just missed it) was a way to declare the way my data s

[2020-11-17 20:58] #100 closed, assigned to nobody

[2020-11-18 00:18] YellowApple commented on #100
No problem!  And glad to hear you were able to put together something that works for you :)

(I'd definitely be interested in seeing what you've got going for that helper module; it does indeed sound like we've got two different philosophies here, but if there's anything Sugar can do to help streamline that use case a bit, I figure it'd be useful to at least investigate 😄)

Your feelings are proba

[2020-11-18 19:48] SachsKaylee commented on #100
Sure! My plugs currently looks something something like this (all modules have been simplified, they *should* work in this form):

[code]

The `render/2` function is imported from the `MyApp.Controller` and in the background calls `MyApp.Endpoints.Customer.View.render/2`:

[code]

While the MyApp.Controller (simplified) looks like this:

[code]

I hope that wasn't too big of a wall of code for a G